<h1 class="h-no-top-margin grey-header">Reset password</h1>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">New password</h3>
  </div>
  <div class="panel-body">
    <div class="content">
      <form name="regForm" ng-hide="reset.hide" ng-submit="reset.savePassword(regData, regForm.$valid, confirmed);" novalidate>


        <!-- Password -->
        <div class="form-group">
          <div ng-class="{ 'has-success': regForm.firstPassword.$valid && !regForm.firstPassword.$pristine, 'has-error': (!regForm.firstPassword.$valid && !regForm.firstPassword.$pristine) || (!regForm.firstPassword.$valid && regForm.$submitted) }">
            <label for="pw">Password:</label>
            <input id="pw" type="password" ng-disabled="reset.disabled" ng-model="firstPassword" name="firstPassword" ng-pattern="/^(?=.*?[a-z])(?=.*?[A-Z])(?=.*?[\d])(?=.*?[\W]).{8,35}$/" ng-minLength="8" ng-maxLength="35" class="form-control input-custom" required>
            <p class="help-block" ng-show="(!regForm.firstPassword.$pristine && regForm.firstPassword.$error.required) || (regForm.$submitted && regForm.firstPassword.$error.required)">This field is required.</p>
            <ul class="help-block" ng-show="(!regForm.firstPassword.$pristine && regForm.firstPassword.$error.pattern) || (!regForm.firstPassword.$pristine && regForm.firstPassword.$error.minlength) || (!regForm.firstPassword.$pristine && regForm.firstPassword.$error.maxlength)">
              <li>Must contain at least one lower case and one upper case letters.</li>
              <li>Must contain at least one special character and one number.</li>
              <li>Must be between 3 and 35 characters.</li>
            </ul>
          </div>
        </div>



        <!-- Confirm Password -->
        <div class="form-group">
          <div ng-class="{'has-success': confirmed && !regForm.confirmPassword.$error.required, 'has-error': (!confirmed && !regForm.confirmPassword.$error.required) || (regForm.confirmPassword.$error.required && !regForm.confirmPassword.$pristine) || (regForm.$submitted && regForm.confirmPassword.$error.required) }">
            <label for="pw"> Confirm Password:</label>
            <input id="pw" type="password" ng-disabled="reset.disabled" match="{{[firstPassword]}}" ng-change="reset.regData.password = confirm" name="confirmPassword" ng-model="confirm" class="form-control input-custom" required>
            <p class="help-block" ng-show="(!regForm.confirmPassword.$pristine && regForm.confirmPassword.$error.required) || (regForm.$submitted && regForm.confirmPassword.$error.required)">This field is required.</p>
            <p ng-show="!confirmed && !regForm.confirmPassword.$pristine && regForm.firstPassword.$valid">Passwords do not match!</p>
          </div>
        </div>

        <button ng-disabled="reset.disabled" type="submit" class="btn btn-custom">Submit</button>
      </form>
      <div class="sk-fading-circle" ng-show="reset.loading">
        <div class="sk-circle1 sk-circle"></div>
        <div class="sk-circle2 sk-circle"></div>
        <div class="sk-circle3 sk-circle"></div>
        <div class="sk-circle4 sk-circle"></div>
        <div class="sk-circle5 sk-circle"></div>
        <div class="sk-circle6 sk-circle"></div>
        <div class="sk-circle7 sk-circle"></div>
        <div class="sk-circle8 sk-circle"></div>
        <div class="sk-circle9 sk-circle"></div>
        <div class="sk-circle10 sk-circle"></div>
        <div class="sk-circle11 sk-circle"></div>
        <div class="sk-circle12 sk-circle"></div>
      </div>
      <div class="alert alert-success show-hide-message alert-custom" role="alert" ng-show='reset.successMsg'><p>{{reset.successMsg}}</p></div>
      <div class="alert alert-danger show-hide-message alert-custom" role="alert" ng-show='reset.errorMsg'><p>{{reset.errorMsg}}</p></div>
  </div>
  </div>
</div>
