<div class="jumbotron panel">
  <h1 class="display-4 m-b-2">Reset Password</h1>
  <div class="alert alert-info alert-custom" role="alert" ng-show='reset.loading'><span class="glyphicon glyphicon-repeat spinner" aria-hidden="true"></span><p>Loading...</p></div>
  <div class="alert alert-success alert-custom" role="alert" ng-show='reset.successMsg'><p>{{reset.successMsg}}</p></div>
  <div class="alert alert-danger alert-custom" role="alert" ng-show='reset.errorMsg'><p>{{reset.errorMsg}}</p></div>
  <form name="regForm" ng-hide="reset.hide" ng-submit="reset.savePassword(regData, regForm.$valid, confirmed);" novalidate>


    <!-- Password -->
    <div class="form-group">
      <div ng-class="{ 'has-success': regForm.firstPassword.$valid && !regForm.firstPassword.$pristine, 'has-error': (!regForm.firstPassword.$valid && !regForm.firstPassword.$pristine) || (!regForm.firstPassword.$valid && regForm.$submitted) }">
        <label for="pw">Password:</label>
        <input id="pw" type="password" ng-disabled="reset.disabled" ng-model="firstPassword" name="firstPassword" ng-pattern="/^(?=.*?[a-z])(?=.*?[A-Z])(?=.*?[\d])(?=.*?[\W]).{8,35}$/" ng-minLength="8" ng-maxLength="35" class="form-control input-custom" required>
        <p class="help-block" ng-show="(!regForm.firstPassword.$pristine && regForm.firstPassword.$error.required) || (regForm.$submitted && regForm.firstPassword.$error.required)">This field is required.</p>
        <ul class="help-block" ng-show="(!regForm.firstPassword.$pristine && regForm.firstPassword.$error.pattern) || (!regForm.firstPassword.$pristine && regForm.firstPassword.$error.minlength) || (!regForm.firstPassword.$pristine && regForm.firstPassword.$error.maxlength)">
          <li>Must contain at least one lower case and one upper case letters.</li>
          <li>Must contain at least one special character and one number.</li>
          <li>Must be between 3 and 35 characters.</li>
        </ul>
      </div>
    </div>



    <!-- Confirm Password -->
    <div class="form-group">
      <div ng-class="{'has-success': confirmed && !regForm.confirmPassword.$error.required, 'has-error': (!confirmed && !regForm.confirmPassword.$error.required) || (regForm.confirmPassword.$error.required && !regForm.confirmPassword.$pristine) || (regForm.$submitted && regForm.confirmPassword.$error.required) }">
        <label for="pw"> Confirm Password:</label>
        <input id="pw" type="password" ng-disabled="reset.disabled" match="{{[firstPassword]}}" ng-change="reset.regData.password = confirm" name="confirmPassword" ng-model="confirm" class="form-control input-custom" required>
        <p class="help-block" ng-show="(!regForm.confirmPassword.$pristine && regForm.confirmPassword.$error.required) || (regForm.$submitted && regForm.confirmPassword.$error.required)">This field is required.</p>
        <p ng-show="!confirmed && !regForm.confirmPassword.$pristine && regForm.firstPassword.$valid">Passwords do not match!</p>
      </div>
    </div>

    <button ng-disabled="reset.disabled" type="submit" class="btn btn-primary">Submit</button>
  </form>

</div>