<h1 class="h-no-top-margin grey-header">My ascents</h1>
    
<button type="button" class="btn btn-primary" ng-click="ascent.showAscentModal();">Add Ascent</button>

<br> 
<br> 

<div class="alert alert-success alert-custom show-hide-message" role="alert" ng-show='ascent.searchSuccessMsg'><p>{{ascent.searchSuccessMsg}}</p></div>
<div class="alert alert-danger alert-custom show-hide-message" role="alert" ng-show='ascent.searchErrorMsg'><p>{{ascent.searchErrorMsg}}</p></div>

<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Search</h3>
	</div>
	<div class="panel-body">

		<form class="form-horizontal">
		  <div class="form-group">
		    <label class="col-sm-1 control-label">Name</label>
		    <div class="col-sm-6">
		      <input type="text" class="form-control" name="searchByAscent" placeholder="Search by name" ng-model="searchByAscent">
		    </div>
		  </div>
		  <div class="form-group">
		    <label class="col-sm-1 control-label">Style</label>
		    <div class="col-sm-6">
		    	<select class="form-control" name="searchByStyle" ng-model="searchByStyle" ng-options="y for y in ascent.styles"></select>
		    </div>
		  </div>
		  <div class="form-group">
		    <label class="col-sm-1 control-label">Grade</label>
		    <div class="col-sm-6">
		    	<select class="form-control" name="searchByGrade" ng-model="searchByGrade" ng-options="x for x in ascent.grades"></select>
		    </div>
		  </div>
		  <div class="form-group">
		    <div class="col-sm-offset-1 col-sm-6">
		      <button type="submit" class="btn btn-success" ng-click="ascent.search(searchByAscent, searchByStyle, searchByGrade);">Search</button>
		      <button type="submit" class="btn btn-info" ng-click="ascent.clear();">Clear</button>
		    </div>
		  </div>
		  <div class="form-group" ng-show="searchFilter !== undefined">
		    <div class="col-sm-offset-1 col-sm-10">
		      <p>Total results: {{(ascent.ascents | filter: searchFilter).length}}</p>
		    </div>
		  </div>
		</form>

	</div>
</div>

<div class="sk-fading-circle" ng-show="ascent.loading2">
    <div class="sk-circle1 sk-circle"></div>
    <div class="sk-circle2 sk-circle"></div>
    <div class="sk-circle3 sk-circle"></div>
    <div class="sk-circle4 sk-circle"></div>
    <div class="sk-circle5 sk-circle"></div>
    <div class="sk-circle6 sk-circle"></div>
    <div class="sk-circle7 sk-circle"></div>
    <div class="sk-circle8 sk-circle"></div>
    <div class="sk-circle9 sk-circle"></div>
    <div class="sk-circle10 sk-circle"></div>
    <div class="sk-circle11 sk-circle"></div>
    <div class="sk-circle12 sk-circle"></div>
</div>

<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Ascents</h3>
	</div>
		<div class="panel-body no-padding">
			<div class="table-responsive">
				<table class="table">
					<tr>
						<th ng-click="ascent.sortBy('name')">Name</th>
						<th ng-click="ascent.sortBy('style')">Style</th>
						<th ng-click="ascent.sortBy('grade')">Grade</th>
						<th ng-click="ascent.sortBy('date')">Date</th>	
						<th>Action</th>
					</tr>
					<tr dir-paginate="climb in ascent.ascents | filter: searchFilter | itemsPerPage: ascent.pageSize">
						<td class="hover-blue" ng-click="ascent.openSearch(climb.name);">{{climb.name}}</td>
						<td>{{climb.style}}</td>
						<td>{{climb.grade}}</td>
						<td>{{climb.date | date:'fullDate' }}</td>
						<td>
							<a class="btn btn-primary" href="#" role="button" ng-click="ascent.showEditAscentModal(climb._id);">Edit</a>
							<a class="btn btn-danger" href="#" role="button" ng-click="ascent.deleteAscent(climb._id);">Delete</a>
						</td>	
					</tr>
				</table>
				</div>
				<dir-pagination-controls boundary-links="true" class="center"></dir-pagination-controls>
		</div>
</div>



<!-- Add Ascent Modal -->
<div class="modal fade" id="ascentModal" role="dialog">
<div class="modal-dialog">

  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" ng-click="ascent.cancelAscentModal();">&times;</button>
      <h4 class="modal-title">Add new ascent</h4>
    </div>
    <div class="modal-body">
    	<!-- add ascent form  -->
      <div class="input-custom">
	  	<form name="ascent.ascentForm">
		  <div class="form-group relative">
		    <label>Name</label>
		    <autocomplete></autocomplete>
		  </div>
		  <div class="form-group">
		    <label>Style</label>
		    <select class="form-control" ng-model="ascent.ascentData.style" ng-options="y for y in ascent.styles"></select>
		  </div>
		  <div class="form-group">
		    <label>Grade</label>
		    <select class="form-control" ng-model="ascent.ascentData.grade" ng-options="x for x in ascent.grades"></select>
		  </div>
		  <div class="form-group">
		    <label>Date</label>
		    <p>Selected date is: <em>{{dt | date:'fullDate' }}</em></p>
		    <div uib-datepicker ng-model="dt" datepicker-options="options"></div>
		  </div>
		</form>

		<br>

		<div class="sk-fading-circle" ng-show="ascent.loading">
		    <div class="sk-circle1 sk-circle"></div>
		    <div class="sk-circle2 sk-circle"></div>
		    <div class="sk-circle3 sk-circle"></div>
		    <div class="sk-circle4 sk-circle"></div>
		    <div class="sk-circle5 sk-circle"></div>
		    <div class="sk-circle6 sk-circle"></div>
		    <div class="sk-circle7 sk-circle"></div>
		    <div class="sk-circle8 sk-circle"></div>
		    <div class="sk-circle9 sk-circle"></div>
		    <div class="sk-circle10 sk-circle"></div>
		    <div class="sk-circle11 sk-circle"></div>
		    <div class="sk-circle12 sk-circle"></div>
		</div>
	  	<div class="alert alert-success alert-custom show-hide-message" role="alert" ng-show='ascent.successMsg'><p>{{ascent.successMsg}}</p></div>
	  	<div class="alert alert-danger alert-custom show-hide-message" role="alert" ng-show='ascent.errorMsg'><p>{{ascent.errorMsg}}</p></div>
	  </div>
	  <!-- /add ascent form  -->
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success" ng-click="ascent.addAscent(ascentData);">Submit</button>
      <button type="button" class="btn btn-danger" ng-click="ascent.cancelAscentModal();">Cancel</button>
    </div>
  </div>
  
</div>
</div>
<!-- /Modal content-->

<!-- Edit Ascent Modal -->
<div class="modal fade" id="editAscentModal" role="dialog">
<div class="modal-dialog">

  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" ng-click="ascent.cancelEditAscentModal();">&times;</button>
      <h4 class="modal-title">Edit ascent</h4>
    </div>
    <div class="modal-body">
    	<!-- edit ascent form  -->
      <div class="input-custom">
	  	<form>
		  <div class="form-group">
		    <label>Name</label>
		    <input name="name" class="form-control" placeholder="Name" ng-model="newName">
		  </div>
		  <div class="form-group">
		    <label>Style</label>
		    <!-- <input class="form-control" placeholder="Style" ng-model="newStyle"> -->
		    <select class="form-control" ng-model="newStyle" ng-options="y for y in ascent.styles"></select>
		  </div>
		  <div class="form-group">
		    <label>Grade</label>
		    <select class="form-control" ng-model="newGrade" ng-options="x for x in ascent.grades"></select>
		  </div>
		  <div class="form-group">
		    <label>Date</label>
		    <p>Selected date is: <em>{{dt | date:'fullDate' }}</em></p>
		    <div uib-datepicker ng-model="dt" datepicker-options="options"></div>
		  </div>
		</form>

		<br>

		<div class="sk-fading-circle" ng-show="ascent.loading">
		    <div class="sk-circle1 sk-circle"></div>
		    <div class="sk-circle2 sk-circle"></div>
		    <div class="sk-circle3 sk-circle"></div>
		    <div class="sk-circle4 sk-circle"></div>
		    <div class="sk-circle5 sk-circle"></div>
		    <div class="sk-circle6 sk-circle"></div>
		    <div class="sk-circle7 sk-circle"></div>
		    <div class="sk-circle8 sk-circle"></div>
		    <div class="sk-circle9 sk-circle"></div>
		    <div class="sk-circle10 sk-circle"></div>
		    <div class="sk-circle11 sk-circle"></div>
		    <div class="sk-circle12 sk-circle"></div>
		</div>
	  	<div class="alert alert-success alert-custom show-hide-message" role="alert" ng-show='ascent.successMsg'><p>{{ascent.successMsg}}</p></div>
	  	<div class="alert alert-danger alert-custom show-hide-message" role="alert" ng-show='ascent.errorMsg'><p>{{ascent.errorMsg}}</p></div>
	  </div>
	  <!-- /add ascent form  -->
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success" ng-click="ascent.saveAscent(newName, newStyle, newGrade);">Save</button>
      <button type="button" class="btn btn-danger" ng-click="ascent.cancelEditAscentModal();">Cancel</button>
    </div>
  </div>
  
</div>
</div>
<!-- /Modal content-->


