<div class="jumbotron panel">
  <div class="page-header">
  	<h1>My ascents</h1>
  </div>
  <p>Page for {{main.name}}'s ascents</p>
  <div class="input-custom">
  	<form ng-submit="ascent.addAscent(ascentData);">
	  <div class="form-group">
	    <label>Name</label>
	    <input class="form-control" placeholder="Name" ng-model="ascent.ascentData.name">
	  </div>
	  <div class="form-group">
	    <label>Type</label>
	    <input class="form-control" placeholder="Type" ng-model="ascent.ascentData.type">
	  </div>
	  <div class="form-group">
	    <label>Grade</label>
	    <input class="form-control" placeholder="Grade" ng-model="ascent.ascentData.grade">
	  </div>
	
	  <button type="submit" class="btn btn-default">Add Ascent</button>
	</form>
	<br>
	<div class="alert alert-info alert-custom" role="alert" ng-show='ascent.loading'><span class="glyphicon glyphicon-repeat spinner" aria-hidden="true"></span><p>Loading...</p></div>
  	<div class="alert alert-success alert-custom show-hide-message" role="alert" ng-show='ascent.successMsg'><p>{{ascent.successMsg}}</p></div>
  	<div class="alert alert-danger alert-custom show-hide-message" role="alert" ng-show='ascent.errorMsg'><p>{{ascent.errorMsg}}</p></div>
  </div>
  <br>
  <div class="table-responsive">
	  <table class="table table-hover">
	   	<tr>
	  		<th>Name</th>
	  		<th>Type</th>
	  		<th>Grade</th>	
	  		<th>Action</th>
	    	</tr>
	    	<tr ng-repeat="climb in ascent.ascents">
	    		<td>{{climb.name}}</td>
	  		<td>{{climb.type}}</td>
	  		<td>{{climb.grade}}</td>
	  		<td>
	  			<a class="btn btn-primary" href="#" role="button">Edit</a>
	  			<a class="btn btn-danger" href="#" role="button" ng-click="ascent.deleteAscent(climb._id);">Delete</a>
	  		</td>	
	  	</tr>
	  </table>
	</div>
</div>