<div class="row no-margin">

  <!-- sidebar -->
  <div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
      <li ng-class="homeMenu"><a href="/home"><i class="fa fa-home" aria-hidden="true"></i>&nbsp;Home</a></li>
      <hr>
      <li ng-class="registerMenu"><a ng-show="!main.isLoggedIn" href="/register">Register</a></li>
      <li ng-class="loginMenu"><a ng-show="!main.isLoggedIn" href="/login">Log In</a></li>
      <li ng-class="profileMenu"><a href="/profile" ng-show="main.isLoggedIn"><i class="fa fa-user-circle-o" aria-hidden="true"></i>&nbsp;My profile</a></li>
      <li ng-class="myascentsMenu"><a href="/myAscents" ng-show="main.isLoggedIn"><i class="fa fa-list" aria-hidden="true"></i>&nbsp;My ascents</a></li>
      <hr ng-show="main.isLoggedIn">
      <li ng-class="searchAscentsMenu"><a href="/searchAscents" ng-show="main.isLoggedIn"><i class="fa fa-search" aria-hidden="true"></i>&nbsp;Search ascents</a></li>
      <li ng-class="searchClimersMenu"><a href="/searchClimbers" ng-show="main.isLoggedIn"><i class="fa fa-users" aria-hidden="true"></i>&nbsp;Search climbers</a></li>
      <li ng-class="cragsMenu"><a href="/crags" ng-show="main.isLoggedIn"><i class="fa fa-hand-rock-o" aria-hidden="true"></i>&nbsp;Crags</a></li>
      <hr ng-show="main.isLoggedIn">
      <li ng-class="managementMenu"><a href="/management" ng-show="main.isLoggedIn && main.authorized"><i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp;Management</a></li>
    </ul>
  </div> 
  <!-- end of sidebar -->

  <!-- main content -->
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

	<h1 class="h-no-top-margin grey-header">Search ascents</h1> 

	<hr>

	<div class="alert alert-success alert-custom show-hide-message" role="alert" ng-show='ascentSearch.successMsg'><p>{{ascentSearch.successMsg}}</p></div>
	<div class="alert alert-danger alert-custom show-hide-message" role="alert" ng-show='ascentSearch.errorMsg'><p>{{ascentSearch.errorMsg}}</p></div>


	<form class="form-horizontal">
	  <div class="form-group">
	    <label class="col-sm-offset-3 col-sm-1 control-label">Ascent name</label>
	    <div class="col-sm-5">
	      <input type="text" class="form-control form-group__input" name="searchByName" placeholder="Search by name" ng-model="searchByName" ng-change="climberSearch.pageNo = 1;">
	    </div>
	  </div>
	  <div class="form-group">
	    <label class="col-sm-offset-3 col-sm-1 control-label">Style</label>
	    <div class="col-sm-5">
	    	<select class="form-control form-group__input" name="searchByStyle" ng-model="searchByStyle" ng-options="y for y in ascentSearch.styles" ng-change="climberSearch.pageNo = 1;"></select>
	    </div>
	  </div>
	  <div class="form-group">
	    <label class="col-sm-offset-3 col-sm-1 control-label">Grade</label>
	    <div class="col-sm-5">
	    	<select class="form-control form-group__input" name="searchByGrade" ng-model="searchByGrade" ng-options="x for x in ascentSearch.grades" ng-change="climberSearch.pageNo = 1;"></select>
	    </div>
	  </div>
	  <div class="form-group">
	    <label class="col-sm-offset-3 col-sm-1 control-label">Crag</label>
	    <div class="col-sm-5">
	    	<input class="form-control form-group__input" name="searchByCrag" ng-model="searchByCrag" placeholder="Search by crag" ng-change="climberSearch.pageNo = 1;">
	    </div>
	  </div>
	  <div class="form-group">
	    <label class="col-sm-offset-3 col-sm-1 control-label">Country</label>
	    <div class="col-sm-5">
	    	<select class="form-control form-group__input" name="searchByCountry" ng-model="searchByCountry" ng-options="y for y in ascentSearch.country_list" ng-change="climberSearch.pageNo = 1;"></select>
	    </div>
	  </div>
	  <div class="form-group">
	    <label class="col-sm-offset-3 col-sm-1 control-label">Sent by</label>
	    <div class="col-sm-5">
	      <input type="text" class="form-control form-group__input" name="searchBySender" placeholder="Search by sender" ng-model="searchBySender" ng-change="climberSearch.pageNo = 1;">
	    </div>
	  </div>
	  <div class="form-group">
	    <div class="col-sm-offset-4 col-sm-6">
	      <button type="submit" class="btn btn-custom" ng-click="ascentSearch.search(searchByName, searchByStyle, searchByGrade, searchByCrag, searchByCountry, searchBySender);">Search</button>
	      <button type="submit" class="btn btn-custom" ng-click="ascentSearch.clear();">Clear</button>
	    </div>
	  </div>
	</form>

	<br>

	<div class="sk-fading-circle" ng-show="ascentSearch.loading">
	    <div class="sk-circle1 sk-circle"></div>
	    <div class="sk-circle2 sk-circle"></div>
	    <div class="sk-circle3 sk-circle"></div>
	    <div class="sk-circle4 sk-circle"></div>
	    <div class="sk-circle5 sk-circle"></div>
	    <div class="sk-circle6 sk-circle"></div>
	    <div class="sk-circle7 sk-circle"></div>
	    <div class="sk-circle8 sk-circle"></div>
	    <div class="sk-circle9 sk-circle"></div>
	    <div class="sk-circle10 sk-circle"></div>
	    <div class="sk-circle11 sk-circle"></div>
	    <div class="sk-circle12 sk-circle"></div>
	</div>

	<div class="panel panel-primary" ng-hide="ascentSearch.ascents === undefined">
		<div class="panel-heading">
			<i class="fa fa-list" aria-hidden="true"></i>&nbsp;<h3 class="panel-title">Search results</h3>
		</div>
			<div class="panel-body no-padding">
				<div class="table-responsive">
					<table class="table">
						<tr>
							<th  style="width:20%"ng-click="ascentSearch.sortBy('name')">Name&nbsp;<i class="fa fa-sort" aria-hidden="true" ng-if="ascentSearch.propertyName === 'name';"></th>
							<th  style="width:10%"ng-click="ascentSearch.sortBy('style')">Style&nbsp;<i class="fa fa-sort" aria-hidden="true" ng-if="ascentSearch.propertyName === 'style';"></th>
							<th  style="width:10%"ng-click="ascentSearch.sortBy('grade')">Grade&nbsp;<i class="fa fa-sort" aria-hidden="true" ng-if="ascentSearch.propertyName === 'grade';"></th>
							<th  style="width:20%"ng-click="ascentSearch.sortBy('crag')">Crag&nbsp;<i class="fa fa-sort" aria-hidden="true" ng-if="ascentSearch.propertyName === 'crag';"></th>
							<th  style="width:15%"ng-click="ascentSearch.sortBy('country')">Country&nbsp;<i class="fa fa-sort" aria-hidden="true" ng-if="ascentSearch.propertyName === 'country';"></th>
							<th  style="width:10%"ng-click="ascentSearch.sortBy('date')">Date&nbsp;<i class="fa fa-sort" aria-hidden="true" ng-if="ascentSearch.propertyName === 'date';"></th>	
							<th  style="width:15%"ng-click="ascentSearch.sortBy('sentByName')">Sent By&nbsp;<i class="fa fa-sort" aria-hidden="true" ng-if="ascentSearch.propertyName === 'sentByName';"></th>
						</tr>
					<tr dir-paginate="climb in ascentSearch.ascents | itemsPerPage: ascentSearch.pageSize" total-items="ascentSearch.totalCount" pagination-id="search">
						<td>{{climb.name}}</td>
							<td>{{climb.style}}</td>
							<td>{{climb.grade}}</td>
							<td>{{climb.crag}}</td>
							<td>{{climb.country}}</td>
							<td>{{climb.date | date:'MM/dd/yyyy' }}</td>
							<td class="blue" ng-click="ascentSearch.openProfile(climb.sentBy);">{{climb.sentByName}}</td>
						</tr>
					</table>
					</div>
			</div>
	</div>

	<dir-pagination-controls boundary-links="true" class="center" ng-hide="ascentSearch.ascents === undefined" current-page="ascentSearch.pageNo" pagination-id="search" on-page-change="ascentSearch.getAscents(newPageNumber)" max-size="5" ></dir-pagination-controls>

  </div> 
    <!-- end of main content -->

</div>