<h1 class="h-no-top-margin grey-header">Search ascents</h1> 

<div class="alert alert-success alert-custom show-hide-message" role="alert" ng-show='ascentSearch.successMsg'><p>{{ascentSearch.successMsg}}</p></div>
<div class="alert alert-danger alert-custom show-hide-message" role="alert" ng-show='ascentSearch.errorMsg'><p>{{ascentSearch.errorMsg}}</p></div>

<div class="panel panel-primary">
	<div class="panel-heading">
		<i class="fa fa-search" aria-hidden="true"></i>&nbsp;<h3 class="panel-title">Search parameters</h3>
	</div>
	<div class="panel-body">

		<form class="form-horizontal">
		  <div class="form-group">
		    <label class="col-sm-1 control-label">Ascent name</label>
		    <div class="col-sm-6">
		      <input type="text" class="form-control" name="searchByName" placeholder="Search by name" ng-model="searchByName">
		    </div>
		  </div>
		  <div class="form-group">
		    <label class="col-sm-1 control-label">Style</label>
		    <div class="col-sm-6">
		    	<select class="form-control" name="searchByStyle" ng-model="searchByStyle" ng-options="y for y in ascentSearch.styles"></select>
		    </div>
		  </div>
		  <div class="form-group">
		    <label class="col-sm-1 control-label">Grade</label>
		    <div class="col-sm-6">
		    	<select class="form-control" name="searchByGrade" ng-model="searchByGrade" ng-options="x for x in ascentSearch.grades"></select>
		    </div>
		  </div>
		  <div class="form-group">
		    <label class="col-sm-1 control-label">Sent by</label>
		    <div class="col-sm-6">
		      <input type="text" class="form-control" name="searchBySender" placeholder="Search by sender" ng-model="searchBySender">
		    </div>
		  </div>
		  <div class="form-group">
		    <div class="col-sm-offset-1 col-sm-6">
		      <button type="submit" class="btn btn-custom" ng-click="ascentSearch.search(searchByName, searchByStyle, searchByGrade, searchBySender);">Search</button>
		      <button type="submit" class="btn btn-custom" ng-click="ascentSearch.clear();">Clear</button>
		    </div>
		  </div>
		  <div class="form-group" ng-show="ascentSearch.ascents !== undefined">
		    <div class="col-sm-offset-1 col-sm-10">
		      <p>Total results: {{ascentSearch.ascents.length}}</p>
		    </div>
		  </div>
		</form>

	</div>
</div>

<div class="sk-fading-circle" ng-show="ascentSearch.loading">
    <div class="sk-circle1 sk-circle"></div>
    <div class="sk-circle2 sk-circle"></div>
    <div class="sk-circle3 sk-circle"></div>
    <div class="sk-circle4 sk-circle"></div>
    <div class="sk-circle5 sk-circle"></div>
    <div class="sk-circle6 sk-circle"></div>
    <div class="sk-circle7 sk-circle"></div>
    <div class="sk-circle8 sk-circle"></div>
    <div class="sk-circle9 sk-circle"></div>
    <div class="sk-circle10 sk-circle"></div>
    <div class="sk-circle11 sk-circle"></div>
    <div class="sk-circle12 sk-circle"></div>
</div>

<div class="panel panel-primary">
	<div class="panel-heading">
		<i class="fa fa-list" aria-hidden="true"></i>&nbsp;<h3 class="panel-title">Search results</h3>
	</div>
		<div class="panel-body no-padding">
			<div class="table-responsive">
				<table class="table">
					<tr>
						<th  style="width:30%"ng-click="ascentSearch.sortBy('name')">Name</th>
						<th  style="width:25%"ng-click="ascentSearch.sortBy('style')">Style</th>
						<th  style="width:10%"ng-click="ascentSearch.sortBy('grade')">Grade</th>
						<th  style="width:20%"ng-click="ascentSearch.sortBy('date')">Date</th>	
						<th  style="width:15%"ng-click="ascentSearch.sortBy('sentByName')">Sent By</th>
					</tr>
				<tr dir-paginate="climb in ascentSearch.ascents | itemsPerPage: ascentSearch.pageSize">
					<td>{{climb.name}}</td>
						<td>{{climb.style}}</td>
						<td>{{climb.grade}}</td>
						<td>{{climb.date | date:'MM/dd/yyyy' }}</td>
						<td class="blue" ng-click="ascentSearch.openProfile(climb.sentBy);">{{climb.sentByName}}</td>
					</tr>
				</table>
				</div>
				<dir-pagination-controls boundary-links="true" class="center" ng-hide="ascentSearch.ascents === undefined"></dir-pagination-controls>
		</div>
</div>