<div class="row">

  <!-- sidebar -->
  <div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
      <li ng-class="homeMenu"><a href="/home"><i class="fa fa-home" aria-hidden="true"></i>&nbsp;Home</a></li>
      <hr>
      <li ng-class="registerMenu"><a ng-show="!main.isLoggedIn" href="/register">Register</a></li>
      <li ng-class="loginMenu"><a ng-show="!main.isLoggedIn" href="/login">Log In</a></li>
      <li ng-class="profileMenu"><a href="/profile" ng-show="main.isLoggedIn"><i class="fa fa-user-circle-o" aria-hidden="true"></i>&nbsp;My profile</a></li>
      <li ng-class="myascentsMenu"><a href="/myAscents" ng-show="main.isLoggedIn"><i class="fa fa-list" aria-hidden="true"></i>&nbsp;My ascents</a></li>
      <hr ng-show="main.isLoggedIn">
      <li ng-class="searchAscentsMenu"><a href="/searchAscents" ng-show="main.isLoggedIn"><i class="fa fa-search" aria-hidden="true"></i>&nbsp;Search ascents</a></li>
      <li ng-class="searchClimersMenu"><a href="/searchClimbers" ng-show="main.isLoggedIn"><i class="fa fa-users" aria-hidden="true"></i>&nbsp;Search climbers</a></li>
      <hr ng-show="main.isLoggedIn">
      <li ng-class="managementMenu"><a href="/management" ng-show="main.isLoggedIn && main.authorized"><i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp;Management</a></li>
    </ul>
  </div> 
  <!-- end of sidebar -->

  <!-- main content -->
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

    <h1 class="h-no-top-margin grey-header">My profile</h1>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <i class="fa fa-user" aria-hidden="true"></i>&nbsp;<h3 class="panel-title">Profile details</h3>
      </div>
        <div class="panel-body no-padding">

          <div class="container-fluid">
            <div class="row">
              <div class="col-md-4 p-10">
                  <a href="{{currentUser.picture.url}}" class="thumbnail">
                  <img ng-src="{{currentUser.picture.url}}">
                  </a>
              </div>
              <div class="col-md-8 p-10">
                <ul class="list-group">
                  <li class="list-group-item no-border"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;{{currentUser.name}}</li>
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 text-center p-10">
                <button type="button" class="btn btn-default" ng-click="profile.upload()">
                Upload <span class="caret"></span>
                </button>
                <button type="submit" class="btn btn-danger"  ng-click="profile.savePicture()" ng-disabled="!currentUser.picture">Save Picture</button>
              </div>
              <div class="col-md-8 p-10">
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 text-center p-10">
                <div class="sk-fading-circle" ng-show="profile.loading">
                    <div class="sk-circle1 sk-circle"></div>
                    <div class="sk-circle2 sk-circle"></div>
                    <div class="sk-circle3 sk-circle"></div>
                    <div class="sk-circle4 sk-circle"></div>
                    <div class="sk-circle5 sk-circle"></div>
                    <div class="sk-circle6 sk-circle"></div>
                    <div class="sk-circle7 sk-circle"></div>
                    <div class="sk-circle8 sk-circle"></div>
                    <div class="sk-circle9 sk-circle"></div>
                    <div class="sk-circle10 sk-circle"></div>
                    <div class="sk-circle11 sk-circle"></div>
                    <div class="sk-circle12 sk-circle"></div>
                </div>
                <div class="alert alert-success alert-custom show-hide-message" role="alert" ng-show='profile.successMsg'><p>{{profile.successMsg}}</p></div>
                <div class="alert alert-danger alert-custom show-hide-message" role="alert" ng-show='profile.errorMsg'><p>{{profile.errorMsg}}</p></div>
              </div>
            </div>
          </div>
        </div>
    </div>

  </div> 
    <!-- end of main content -->

</div>
