<h1 class="h-no-top-margin grey-header">My profile</h1>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Profile details</h3>
  </div>
    <div class="panel-body no-padding">
      <div class="table-responsive">
        <table class="table table-hover">
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Password</th> 
            </tr>
            <tr>
              <td>{{main.name}}</td>
            <td>{{main.email}}</td>
            <td>***********</td>  
          </tr>
        </table>
      </div>
    </div>
</div>