<h1 class="h-no-top-margin grey-header">My profile</h1>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Profile details</h3>
  </div>
    <div class="panel-body no-padding">

      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4 p-10">
            <div>
              <a href="{{currentUser.picture.url}}" class="thumbnail">
              <img ng-src="{{currentUser.picture.url}}">
              </a>
            </div>
          </div>
          <div class="col-md-8 p-10">
            <ul class="list-group">
              <li class="list-group-item no-border"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>   {{currentUser.name}}</li>
              <li class="list-group-item no-border"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>   {{currentUser.email}}</li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 text-center p-10">
            <button type="button" class="btn btn-default" ng-click="profile.upload()">
            Upload <span class="caret"></span>
            </button>
            <button type="submit" class="btn btn-danger"  ng-click="profile.savePicture()" ng-disabled="!currentUser.picture">Save Picture</button>
          </div>
          <div class="col-md-8 p-10">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center p-10">
            <div class="alert alert-info" role="alert" ng-show='profile.loading'><span class="glyphicon glyphicon-repeat spinner" aria-hidden="true"></span><p> Loading...</p></div>
            <div class="alert alert-success alert-custom" role="alert" ng-show='profile.successMsg'><p>{{profile.successMsg}}</p></div>
            <div class="alert alert-danger alert-custom" role="alert" ng-show='profile.errorMsg'><p>{{profile.errorMsg}}</p></div>
          </div>
        </div>
      </div>
    </div>
</div>
