<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-6">
        <div class="panel panel-primary panel-landing">
        <div class="panel-heading panel-custom">
          <h3 class="panel-title">Resend activation link</h3>
        </div>
        <div class="panel-body">
          <div class="content">
            <form ng-submit="resend.checkCredentials(loginData)">
              <div class="form-group">
                <label for="email">Email</label>
                <input type="text" id="email" ng-disabled="resend.disabled" ng-model="resend.loginData.email" placeholder="email" name="email" class="form-control input-custom"/>
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" ng-disabled="resend.disabled" ng-model="resend.loginData.password" placeholder="password" name="password" class="form-control input-custom"/>
              </div>
              <button ng-disabled="resend.disabled" type="submit" class="btn btn-custom">Submit</button>
            </form>

            <div class="sk-fading-circle" ng-show="resend.loading">
              <div class="sk-circle1 sk-circle"></div>
              <div class="sk-circle2 sk-circle"></div>
              <div class="sk-circle3 sk-circle"></div>
              <div class="sk-circle4 sk-circle"></div>
              <div class="sk-circle5 sk-circle"></div>
              <div class="sk-circle6 sk-circle"></div>
              <div class="sk-circle7 sk-circle"></div>
              <div class="sk-circle8 sk-circle"></div>
              <div class="sk-circle9 sk-circle"></div>
              <div class="sk-circle10 sk-circle"></div>
              <div class="sk-circle11 sk-circle"></div>
              <div class="sk-circle12 sk-circle"></div>
            </div>
            <div class="alert alert-success alert-custom" role="alert" ng-show='resend.successMsg'><p>{{resend.successMsg}}</p></div>
            <div class="alert alert-danger alert-custom" role="alert" ng-show='resend.errorMsg'><p>{{resend.errorMsg}}</p></div>

          </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
      </div>
  </div>
</div>
</div>

<div class="container">

  <div class="row">
    <div class="col-md-4">
      <h2>Heading</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Heading</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
   </div>
    <div class="col-md-4">
      <h2>Heading</h2>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
  </div>

  <hr>

  <footer>
    <p>&copy; 2017 Venga</p>
  </footer>
</div> <!-- /container -->
